:root {
    --b3-theme-background: #000000;
}

/* Add the fold indicator to collapsed headings */
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:before{
	content: "\276F";
	font-size: 9pt;
	opacity: 0.5;
}

.protyle-wysiwyg .list {
    color: yellow;
    padding: 0;
    margin: 0;
    /*line-height: 1;*/
}
.protyle-wysiwyg .list>.li {
    margin-top: 0;
    margin-bottom: 0;
}

/*.protyle-wysiwyg .list>.li>.p {}*/

.protyle-wysiwyg div.h1 {
    color: red;
    margin-top: 0.25rem;
}
