:root {
    --b3-theme-background: #000000;
}

/* Add the fold indicator to collapsed headings */
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:before{
	content: "\276F";
	font-size: 9pt;
	opacity: 0.5;
}
