@font-face {
    font-family: 'RobotoRegular';
        src: url('https://fontlibrary.org//assets/fonts/font-of-primalis/2e3729c84817ad595f48b6f8099e82f5/11eabca2251325cfc5589c9c6fb57b46/RobotoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FiraCodeMedium';
        src: url('/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/b7f872bdcd6635d32fc0467b32094fec/FiraCodeMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* font size */
    --b3-font-size-editor: 16px;
    --b3-font-family: "RobotoRegular", "Emojis Additional", "Emojis Reset", BlinkMacSystemFont, Helvetica, "Luxi Sans", "DejaVu Sans", arial, sans-serif, emojis;
    --b3-font-family-protyle: "B612", var(--b3-font-family);
    --b3-font-family-code: "FiraCodeMedium", "Emojis Additional", "Emojis Reset", "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", var(--b3-font-family);
    /*--b3-font-family-graph: arial;*/
    /*--b3-font-family-emoji: "Emojis Additional", emojis;*/
    /*--b3-font-family-math: KaTeX_Math;*/
}
/* background colour depends on user preferences */
@media (prefers-color-scheme: dark) {
    :root {
        --b3-theme-background: #000000;
    }
}

/* page action icons */
.block__icon svg {
    width: 16px;
    height: 16px;
}

/* clear all padding */
.protyle-wysiwyg [data-node-id] {
    padding: 1px;
    margin-top: 0;
}

/* Add the fold indicator to collapsed blocks */
.protyle-wysiwyg div[fold="1"][data-node-id]:before{
	content: "\276F";
	font-size: 9pt;
	opacity: 0.5;
}

.protyle-wysiwyg [data-node-id].h1, [data-node-id].h2, [data-node-id].h3,
    [data-node-id].h4, [data-node-id].h5, [data-node-id].h6 {
    margin-top: 0.25rem;
}

.protyle-wysiwyg [data-node-id].p {
    padding: 0;
}

/* Lists */
/*.protyle-wysiwyg .list {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*line-height: 1;*/
/*}*/
/*.protyle-wysiwyg [data-node-id].li::before {
    top: calc(1.625em + 4px);
    height: 1.625em;
}*/
.protyle-wysiwyg [data-node-id].list>.li {
    margin: 0;
    min-height: calc(1.625em + 4px);
}
/*.protyle-wysiwyg .list>.li>.protyle-action {
    height: calc(1.625em + 4px);
}*/
.protyle-wysiwyg [data-node-id].li>.protyle-action {
    height: calc(1.625em + 4px);
}
.protyle-wysiwyg [data-node-id].list>.li>.p {
    padding: 1px;
}
